html,body {
	margin: 0;
	padding: 0;
}

.logo {
	background:  rgba(1, 1, 1, 0.3);
}

.wpforms-one-half {
	padding-top: 20px !important;
	margin-left: 0 !important;
	min-width: 300px;
}

.wpforms-image-choices {
	max-width: 1200px;
}


